@using CloudAPI.Models;
@model Devices

@{
    ViewBag.Title = "Devices";
    Layout = "_Layout";
    //var devices = (Devices[])ViewData["Devices"];
}

<h2>Devices</h2>

@*<ul>
    @foreach (var dev in devices) {
        <li>Name: @dev.DeviceName</li>
        <li>Enabled: @dev.DeviceEnabled</li>
        <li>Created at: @dev.DeviceCreationDate</li>
    }
</ul>*@